---
layout: home
title: Atención Integral de Cajeros Automáticos
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.traslado %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Atención Integral de Cajeros Automáticos</h4>
    
    <h4 class="hermes-heading">Predicción</h4>
    <p>
      Determinamos el momento óptimo de abastecimiento de los cajeros Automáticos (ATM’s)
    </p>

    <ul class="nav nav-pills nav-pills-hermes flex-column flex-md-row mb-2 mb-md-auto" id="first-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="caracteristicas-tab-header" data-toggle="tab" href="#caracteristicas-tab1">
          Características
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="beneficios-tab1-header" data-toggle="tab" href="#beneficios-tab1">
          Beneficios
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div class="tab-pane active" id="caracteristicas-tab1" role="tabpanel"> 
        <hr>
        <ul>
          <li>Contamos con un software de análisis de predicción desarrollado internamente, adaptado al mercado peruano</li>
          <li>Coordinamos el ingreso y salida del dinero de las bóvedas</li>
          <li>Estamos certificados con el ISO 9001:2015</li>
        </ul>
      </div>
      <div class="tab-pane" id="beneficios-tab1" role="tabpanel">
        <hr>
        <ul>
          <li>Mejoramiento del up time de ATM’s</li>
          <li>Reducción de los cash out</li>
          <li>Reporte diario de saldos de cierre por ATM</li>
          <li>Generación de eficiencias al no tener altos remanentes</li>
        </ul>
      </div>
    </div>

    <hr>

    <h4 class="hermes-heading">Abastecimiento</h4>
    <p>
      Preparamos y trasladamos los billetes para el abastecimiento de los ATM's indicados.
    </p>

    <ul class="nav nav-pills nav-pills-hermes flex-column flex-md-row mb-2 mb-md-auto" id="second-tabs  ">
      <li class="nav-item">
        <a class="nav-link active" id="caracteristicas-tab2-header" data-toggle="tab" href="#caracteristicas-tab2">
          Características
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="beneficios-tab2-header" data-toggle="tab" href="#beneficios-tab2">
          Beneficios
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div class="tab-pane active" id="caracteristicas-tab2" role="tabpanel"> 
        <hr>
        <ul>
          <li>Vehículos blindados con personal armado</li>
          <li>Personal capacitada para el manejo de ATM’s</li>
          <li>Video del abastecimiento de ATM’s</li>
          <li>Cerraduras electrónicas de clave dinámica</li>
          <li>Amplia cobertura geográfica: 18 sucursales a nivel nacional</li>
          <li>Póliza de seguro más importante del país</li>
          <li>Certificación ISO 9001:2015</li>
        </ul>
      </div>
      <div class="tab-pane" id="beneficios-tab2" role="tabpanel">
        <hr>
        <ul>
          <li>Reducción de riesgos ante posibles robos, asaltos y deshonestidad del personal</li>
          <li>Dinero asegurado en caso de siniestros durante el abastecimiento</li>
          <li>El cliente puede dedicar tiempo y esfuerzo a la actividad principal de su negocio</li>
        </ul>
      </div>
    </div>

    <hr>
    
    <h4 class="hermes-heading">Custodia de Mantenimiento</h4>
    <p>
      Custodiamos los ATM’s mientras se reparan los problemas técnicos presentados.
    </p>

    <ul class="nav nav-pills nav-pills-hermes flex-column flex-md-row mb-2 mb-md-auto" id="second-tabs  ">
      <li class="nav-item">
        <a class="nav-link active" id="caracteristicas-tab2-header" data-toggle="tab" href="#caracteristicas-tab2">
          Características
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="beneficios-tab2-header" data-toggle="tab" href="#beneficios-tab2">
          Beneficios
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div class="tab-pane active" id="caracteristicas-tab2" role="tabpanel"> 
        <hr>
        <ul>
          <li>Personal altamente capacitado y correctamente equipado</li>
          <li>Certificación ISO 9001:2015</li>
        </ul>
      </div>
      <div class="tab-pane" id="beneficios-tab2" role="tabpanel">
        <hr>
        <ul>
          <li>Dinero asegurado en caso de siniestros durante la custodia del mantenimiento</li>
          <li>El cliente puede dedicar tiempo y esfuerzo a la actividad principal de su negocio</li>
        </ul>
      </div>
    </div>
  
  </div>
</div>