---
layout: home
title: Atención de Requerimientos Comerciales
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.traslado %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Atención de Requerimientos Comerciales</h4>
    <p>pendiente...</p>
    <ul class="nav nav-pills nav-pills-hermes flex-column flex-md-row mb-2 mb-md-auto" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" id="caracteristicas-tab-header" data-toggle="tab" href="#caracteristicas-tab">
          Características
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="caracteristicas-tab-header" data-toggle="tab" href="#beneficios-tab">
          Beneficios
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div class="tab-pane active" id="caracteristicas-tab" role="tabpanel"> 
        <hr>
        <p>pendiente...</p>
      </div>
      <div class="tab-pane" id="beneficios-tab" role="tabpanel">
        <hr>
        <p>pendiente...</p>
      </div>
    </div>
  </div>
</div>