---
layout: home
title: Cobertura
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.traslado %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Cobertura</h4>

    <div class="row clearfix">
      <div class="col-12 col-sm">
        <img class="img-fluid" src="/assets/sucursales.png">
      </div>
      <div class="col-12 col-sm">
        <img class="img-fluid" src="/assets/directorio.png">
      </div>
    </div>
    
  </div>
</div>