doctype html
html
  include ../partials/head.pug
  body
    include ../partials/header.pug
    
    .bg-light-blue
      .container
        img.img-fluid(src="holder.js/1600x300")

    .container.color-blue.smaller-font
      .row.clearfix
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
      .row.clearfix
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
      .row.clearfix
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
        .col
          div
            img.align-middle(src="holder.js/16x16")
            strong.align-middle LIMA
          address Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Minima reprehenderit cupiditate eaque temporibus alias similique...
      
        
    

    include ../partials/foot.pug
