---
layout: home
title: Distribución Nacional
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.distribucion_nacional %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Distribución Nacional</h4>
    <p>Recogemos, trasladamos y entregamos documentos valorados y paquetería de forma segura, oportuna y con cobertura a nivel nacional.</p>
    <ul class="nav nav-pills nav-pills-hermes flex-column flex-md-row mb-2 mb-md-auto" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" id="caracteristicas-tab-header" data-toggle="tab" href="#caracteristicas-tab">
          Características
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="caracteristicas-tab-header" data-toggle="tab" href="#beneficios-tab">
          Beneficios
        </a>
      </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
      <div class="tab-pane active" id="caracteristicas-tab" role="tabpanel"> 
        <hr>
        <ul>
          <li>Amplia cobertura geográfica: 18 sucursales a nivel nacional</li>
          <li>Red de representantes en provincias </li>
          <li>Responsabilidad sobre el valor de reposición de los documentos</li>
          <li>Responsabilidad sobre el bien trasladado según monto acordado</li>
          <li>Flota propia con más de 50 unidades livianas</li>
          <li>Monitoreo Satelital (GPS) de unidades</li>
          <li>Software de seguimiento de documentos (Courier Web)</li>
          <li>Certificación ISO 9001:2015</li>
        </ul>
      </div>
      <div class="tab-pane" id="beneficios-tab" role="tabpanel">
        <hr>
        <ul>
          <li>Administración y distribución oportuna de documentos y paquetes entre las oficinas del cliente</li>
          <li>Diseño de soluciones acorde a la necesidad del cliente</li>
          <li>Planes de continuidad del negocio ante eventualidades ocurridas en la operación</li>
          <li>Trazabilidad de los documentos enviados</li>
          <li>El cliente puede dedicar tiempo y esfuerzo a la actividad principal de su negocio</li>
          <li>Atención 24/7</li>
        </ul>
      </div>
    </div>
  </div>
</div>