---
title: Traslado y Custodia de Metales
layout: home
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.traslado %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Exportación de Metales</h4>
		
    <p>Realizamos el soporte terrestre (monitoreo presencial) en el aeropuerto, custodiamos sus valores durante todo el proceso aduanero, desde el ingreso a los almacenes hasta el despegue de la aeronave que trasladará los metales al extranjero.</p>
  </div>
</div>