---
layout: home
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.index %}

  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}
  <div class="bg-plomo">
    <div class="container py-3 color-blue">
      <div class="row clearfix">
        <div class="col-12 col-md-4 d-md-flex align-items-center">
          <h5 class="d-block mb-2 mb-md-0 text-center text-md-left font-weight-bold">Soluciones por Sector</h5>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0">
          <img src="/assets/icons/financiero.png" height="48" alt="X">
          <div>Financiero</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0">
          <img src="/assets/icons/comercial.png" height="48" alt="X">
          <div>Comercial</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0">
          <img src="/assets/icons/acopio-minero.png" height="48" alt="X">
          <div>Minería</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0">
          <img src="/assets/icons/pymes.png" height="48" alt="X">
          <div>PYMES</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h4 class="text-muted text-center">Encuentra aquí información de interés</h4>
    <div class="row no-gutters d-flex">
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-01.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Hermes renueva su flota con 13 vehículos Mercedes-Benz
          </strong>
          <div class="widget-interes-description">
            De esta forma, amplía su flota a más de 190 unidades para el traslado de valores y minerales a nivel nacional.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small mx-md-3 align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-02.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Hermes invirte S/. 5 millones en  nueva sucursal en Piura
          </strong>
          <div class="widget-interes-description">
            La nueva sede cuenta con un área de 1,000 m2 y cumple con los más altos estándares de seguridad internacional.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-03.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Hermes inaugura sucursal en Andahuaylas, región Apurimac
          </strong>
          <div class="widget-interes-description">
            Previniendo el crecimiento del departamento de Apurímac, Hermes incursiona en la ciudad más importante y centro económico de la región.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-04.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Hermeticase: soluciones de gestión de efectivo para puntos de venta
          </strong>
          <div class="widget-interes-description">
            Esta solución permite optimizar procesos, minimizar riesgos y generar eficiencias, utilizando la más moderna tecnología.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
        </div>
        </div>
      </div>
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small mx-md-3 align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-05.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Nuestra Cobertura
          </strong>
          <div class="widget-interes-description">
            Contamos con 18 sucursales a nivel nacional. Ubica nuestras direcciones y teléfonos.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
    </div>
      <div class="widget-interes col-12 col-md mb-3 bg-plomo font-small align-self-stretch position-relative text-center">
        <a href="#">
          <img class="widget-interes-picture img-fluid" src="{{ site.base_url }}assets/homepage/home-06.jpg">
        </a>
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="widget-interes-title d-block color-hermes">
            Trabaja con Nosotros
          </strong>
          <div class="widget-interes-description">
            Encuentra las oportunidades laborales que ofrece Hermes.
          </div>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
    </div>
    </div>
  </div>

</div>