---
layout: home
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.index %}

  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}
  <div class="bg-plomo">
    <div class="container py-3 color-blue">
      <div class="row clearfix">
        <div class="col-12 col-md-4 d-md-flex align-items-center">
          <h5 class="d-block mb-2 mb-md-0 text-center text-md-left font-weight-bold">Soluciones por Sector</h5>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0"><img class="img-fluid" src="/assets/icons/traslado-valores.png" alt="X">
          <div>Financiero</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0"><img class="img-fluid" src="/assets/icons/traslado-custodia-metales.png" alt="X">
          <div>Comercial</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0"><img class="img-fluid" src="/assets/icons/acopio-minero.png" alt="X">
          <div>Minería</div>
        </div>
        <div class="col-6 col-md text-center mt-2 mb-4 my-md-0">
          <img src="/assets/icons/atencion.svg" height="40" alt="X">
          <div>PYMES</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h4 class="text-muted text-center">Encuentra aquí información de interés</h4>
    <div class="row no-gutters d-flex">
      <div class="col-12 col-md mb-3 bg-plomo font-small align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-01.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Noticias</strong>
          <p>Mejoras en la seguridad. Nuevo sistema de control</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md mb-3 font-small mx-md-3 align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-02.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Noticias</strong>
          <p>Mejoras en la seguridad. Nuevo sistema de control</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md mb-3 font-small align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-03.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Noticias</strong>
          <p>Mejoras en la seguridad. Nuevo sistema de control</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-md mb-3 bg-plomo bg-plomo font-small align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-04.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Trabaja con Nosotros</strong>
          <p>Encuentra las oportunidades que ofrece HERMES.</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
        </div>
        </div>
      </div>
      <div class="col-12 col-md mb-3 font-small mx-md-3 align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-05.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Noticias</strong>
          <p>Mejoras en la seguridad. Nuevo sistema de control</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
    </div>
      <div class="col-12 col-md mb-3 font-small align-self-stretch position-relative text-center">
        <img class="img-fluid" src="{{ site.base_url }}assets/homepage/home-06.jpg">
        <div class="widget-interes-overlay w-100 text-left p-2">
          <strong class="d-block color-hermes">Noticias</strong>
          <p>Mejoras en la seguridad. Nuevo sistema de control</p>
          <div class="text-right">
            <a href="#" class="color-hermes">Ver más &gt;</a>
          </div>
        </div>
    </div>
    </div>
  </div>

</div>