---
layout: home
title: ¿Por qué HERMES?
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.traslado %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">¿Por qué HERMES?</h4>

    <p><strong>Servicio</strong></p>
    <ul>
      <li>Consultores de negocio a disposición de nuestros clientes</li>
      <li>Procesamiento 24/7</li>
      <li>Servicio de Atención al Cliente (365 días)</li>
    </ul>
    <p><strong>Tecnología</strong></p>
    <ul>
      <li>Hermetic Web</li>
      <li>Plataforma segura y confiable, afiliada a Bancared</li>
    </ul>
    <p><strong>Infraestructura</strong></p>
    <ul>
      <li>Planta de Procesamiento entre las más modernas de América Latina</li>
      <li>Bóvedas especializadas (cash, metales, back ups y documentos valorados)</li>
    </ul>
    <p><strong>Procesos Seguros y Confiables</strong></p>
    <ul>
      <li>Certificación ISO 9001:2008</li>
      <li>La mejor póliza de Seguros de la Industria</li>
      <li>Personal especializado y capacitado</li>
      <li>Gestión por procesos y mejora continua</li>
    </ul>
    
  </div>
</div>