---
title: Servicios Especializados
layout: home
---

<div id="mainSection">
  <!-- aqui cambiamos los slides, por la data del yml. -->
  {% include carousel.html slides=site.data.carousel.servicios_especializados %}
  
  {% include form-flotante.html titulo="Logística de valores<br>para el sector minero" %}

  <div class="container mt-4">
    <h4 class="hermes-heading">Servicios Especializados</h4>
    <p>Ofrecemos otros servicios dirigidos al sector minero:</p>
    <ul>
      <li>Traslado o escolta de precipitados, concentrados y carbón activado</li>
      <li>Custodia de precipitados y carbón activado</li>
      <li>Traslado, ensobrado y pago de planillas</li>
      <li>Abastecimiento de cajeros automáticos en unidades mineras</li>
      <li>Envío de dinero a la unidad minera</li>
    </ul>
  </div>
</div>