<div class="carousel carousel-indicator-circle slide" id="carouselPrincipal" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#carouselPrincipal" data-slide-to="0"></li>
    <li data-target="#carouselPrincipal" data-slide-to="1"></li>
    <li data-target="#carouselPrincipal" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner h-100">
    <div class="carousel-item h-100 active" data-background-image="">
      <div class="w-100 position-absolute"><img class="w-100" src="holder.js/1200x480?theme=vine&amp;text=First+slide" alt="First slide"></div>
      <div class="carousel-content p-4 px-5 text-white"></div>
    </div>
    <div class="carousel-item h-100" data-background-image="">
      <div class="w-100 position-absolute"><img class="w-100" src="holder.js/1200x480?theme=vine&amp;text=Second+slide" alt="Second slide"></div>
      <div class="carousel-content p-4 px-5 text-white"></div>
    </div>
    <div class="carousel-item h-100" data-background-image="">
      <div class="w-100 position-absolute"><img class="w-100" src="holder.js/1200x480?theme=vine&amp;text=Third+slide" alt="Third slide"></div>
      <div class="carousel-content p-4 px-5 text-white"></div>
    </div>
  </div>
</div>