hr.footer-divider.my-1

section#footer.mb-3
  .container
    .row.clearfix
      .col-12.col-md-4
        div.mb-3
          strong SÍGUENOS
        p Nuestras Redes Sociales
        a(href="#").mr-2
          img(src="holder.js/24x24")
        a(href="#").mx-2
          img(src="holder.js/24x24")
        a(href="#").mx-2
          img(src="holder.js/24x24")
        a(href="#").ml-2 Hermes Perú
      .col-12.col-md-4
        div.mb-3
          strong CONTACTO
        div
          address Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          | Sapiente voluptates dolor, cum, pariatur, tempore odit corporis 
          | eius distinctio incidunt ea possimus magnam labore quis quasi?
          
        a(href="#") email@dominio.tld
      .col-12.col-md-4
        div.mb-3
          strong ENLACES
        ul.list-unstyled
          li 
            a(href="#") Responsabilidad Social
          li 
            a(href="#") Trabaja con Hermes
          li 
            a(href="#") Servicios de Atención de Clientes

hr.footer-divider.my-1

section#footer-note
  .container
    p HERMES 2018 &copy; Todos los derechos reservados

script(src="js/holder.min.js")
script(src="js/jquery.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/main.js")

