    <hr class="footer-divider my-5">
    <section class="mb-3" id="footer">
      <div class="container">
        <div class="row clearfix">
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>SÍGUENOS</strong>
            </div>
            <p>Nuestras Redes Sociales</p>
            <a class="mr-2" href="https://www.facebook.com/hermesperu/">
              <img src="{{ site.base_url }}assets/icons/fb.png">
            </a>
            <a class="mx-2" href="https://www.youtube.com/user/HermesTranspBlindado">
              <img src="{{ site.base_url }}assets/icons/yt.png">
            </a>
            <a class="mx-2" href="https://www.linkedin.com/company/trabaja-en-hermes/">
              <img src="{{ site.base_url }}assets/icons/in.png">
            </a>
            <a class="ml-2" href="#">Hermes Perú</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>CONTACTO</strong>
            </div>
            <div>
              <address>Avenida Producción Nacional 267 Urb Villa, Chorrillos</address> Lunes a Viernes - 9:00 a 18:00 Hrs </div>
            <a href="#">sac@hermes.com.pe</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>ENLACES</strong>
            </div>
            <ul class="list-unstyled">
              <li>
                <a href="{% link ubicanos.html %}">
                  Ubícanos
                </a>
              </li>
              <li>
                <a href="{% link consulta-sugerencias.html %}">
                  Contacto
                </a>
              </li>
              <li>
                <a href="#responsabilidad-social.html">
                  Responsabilidad Social
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/hermesperu/">
                  Trabaja con Hermes
                </a>
              </li>
              <li>
                <a href="#atencion-cliente.html">
                  Servicios de Atención de Clientes
                </a>
              </li>
              <li>
                <a href="#terminos-condiciones.html">
                  Términos y Condiciones
                </a>
              </li>
              <li>
                <a href="#documentos-electronicos.html">
                  Documentos Electrónicos
                </a>
              </li>
              <li>
                <a href="http://www.smv.gob.pe/frm_hechosdeImportanciaDia.aspx?data=B2F1F4B068CF26CEF1D02012A8B83F1F71AC01FD53/">
                  Superintendencia de Mercados y Valores
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <hr class="footer-divider my-1">
    <section id="footer-note">
      <div class="container">
        <p>HERMES 2018 &copy; Todos los derechos reservados</p>
      </div>
    </section>
    <script src="js/holder.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
  