    <hr class="footer-divider my-5">
    <section class="mb-3" id="footer">
      <div class="container">
        <div class="row clearfix">
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>SÍGUENOS</strong>
            </div>
            <p>Nuestras Redes Sociales</p>
            <a class="mr-2" href="#"><img src="/assets/icons/fb.png"></a>
            <a class="mx-2" href="#"><img src="/assets/icons/yt.png"></a>
            <a class="mx-2" href="#"><img src="/assets/icons/in.png"></a>
            <a class="ml-2" href="#">Hermes Perú</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>CONTACTO</strong>
            </div>
            <div>
              <address>Avenida Producción Nacional 267 Urb Villa, Chorrillos</address> Lunes a Viernes - 9:00 a 18:00 Hrs </div>
            <a href="#">email@dominio.tld</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3">
              <strong>ENLACES</strong>
            </div>
            <ul class="list-unstyled">
              <li>
                <a href="#ubicanos.html">
                  Ubicanos
                </a>
              </li>
              <li>
                <a href="#contacto.html">
                  Contacto
                </a>
              </li>
              <li>
                <a href="#responsabilidad-social.html">
                  Responsabilidad Social
                </a>
              </li>
              <li>
                <a href="#trabaja-hermes.html">
                  Trabaja con Hermes
                </a>
              </li>
              <li>
                <a href="#atencion-cliente.html">
                  Servicios de Atención de Clientes
                </a>
              </li>
              <li>
                <a href="#terminos-condiciones.html">
                  Términos y Condiciones
                </a>
              </li>
              <li>
                <a href="#documentos-electronicos.html">
                  Documentos Electrónicos
                </a>
              </li>
              <li>
                <a href="#superintendencia-mercados.html">
                  Superintendencia de Mercados y Valores
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <hr class="footer-divider my-1">
    <section id="footer-note">
      <div class="container">
        <p>HERMES 2018 &copy; Todos los derechos reservados</p>
      </div>
    </section>
    <script src="js/holder.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
  