    <hr class="footer-divider my-1">
    <section class="mb-3" id="footer">
      <div class="container">
        <div class="row clearfix">
          <div class="col-12 col-md-4">
            <div class="mb-3"><strong>SÍGUENOS</strong></div>
            <p>Nuestras Redes Sociales</p><a class="mr-2" href="#"><img src="holder.js/24x24"></a><a class="mx-2" href="#"><img src="holder.js/24x24"></a><a class="mx-2" href="#"><img src="holder.js/24x24"></a><a class="ml-2" href="#">Hermes Perú</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3"><strong>CONTACTO</strong></div>
            <div>
              <address>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </address>Sapiente voluptates dolor, cum, pariatur, tempore odit corporis 
              eius distinctio incidunt ea possimus magnam labore quis quasi?
            </div><a href="#">email@dominio.tld</a>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3"><strong>ENLACES</strong></div>
            <ul class="list-unstyled">
              <li> <a href="#">Responsabilidad Social</a></li>
              <li> <a href="#">Trabaja con Hermes</a></li>
              <li> <a href="#">Servicios de Atención de Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <hr class="footer-divider my-1">
    <section id="footer-note">
      <div class="container">
        <p>HERMES 2018 &copy; Todos los derechos reservados</p>
      </div>
    </section>
    <script src="js/holder.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
  