<section id="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-hermes navbar-hermes">
    <div class="container">
      <a class="navbar-brand" href="{% link index.html %}">
        <img src="{{ site.base_url }}assets/logo.jpg">
      </a>
      <button class="mr-2 my-2 my-md-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-top-collapse">
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <div class="input-group d-none" id="toggle-this-search">
            <input class="form-control" type="text" placeholder="Buscar...">
            <div class="input-group-append">
              <button class="btn btn-red-hermes hide-search-bar" type="button" data-target="#toggle-this-search">
                <i class="fas fa-search">
                </i>
              </button>
            </div>
          </div>
          <button class="btn btn-red-hermes show-search-bar" type="button" data-target="#toggle-this-search">
            <i class="fas fa-search">
            </i>
          </button>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% link consulta-sugerencias.html %}">Atención al Cliente</a>
          </li>
        </ul>
        <span class="navbar-text">617-4004</span>
      </div>
    </div>
  </nav>
</section>
<nav class="navbar navbar-expand-md navbar-light bg-plomo px-0 px-md-2 py-0">
  <div class="container">
    <div class="collapse navbar-collapse hermes-navbar-dropdown collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-fill full-width-sm navbar-menu-hermes">
        <li class="nav-item dropdown">
          <a class="text-left nav-link popover-main-hermes pl-1 pr-2" href="#" role="button" data-popover-target="#valores-popover" data-toggle="dropdown">Logística de Valores</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item dropdown-toggle" href="#">Sector Financiero y Comercial</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link traslado-valores.html %}">Traslado de Valores</a>
              <a class="dropdown-item text-white" href="{% link procesamiento-billetes-monedas.html %}">Procesamiento de Billetes y Monedas</a>
              <a class="dropdown-item text-white" href="{% link custodia-billetes.html %}">Custodia de Billetes</a>
              <a class="dropdown-item text-white" href="{% link hermeticase.html %}">Hermeticase</a>
              <a class="dropdown-item text-white" href="{% link atencion-cajeros-automaticos.html %}">Atención Integral de Cajeros Automaticos</a>
            </div>
            <a class="dropdown-item dropdown-toggle" href="#">Sector Minero</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link traslado-y-custodia-de-metales.html %}">Traslado y Custodia de Metales</a>
              <a class="dropdown-item text-white" href="{% link exportacion-metales.html %}">Exportación de Metales</a>
              <a class="dropdown-item text-white" href="{% link gestion-boveda.html %}">Gestión de Bóveda</a>
              <a class="dropdown-item text-white" href="{% link servicios-especializados.html %}">Servicios Especializados</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#canales-popover" data-toggle="dropdown">Logistica de Canales</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item" href="{% link adm-puntos-atencion.html %}">Administración de Puntos de Atención</a>
            <a class="dropdown-item" href="{% link adm-locales-agencias.html %}">Administración de Locales y Agencias</a>
            <a class="dropdown-item" href="{% link atencion-reclamos-requerimientos.html %}">Atención Comercial y Atención de Reclamos y Requerimientos</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#documentos-popover" data-toggle="dropdown">Logística de Documentos</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item dropdown-toggle" href="#">Servicio Integral de mensajería corporativa</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link distribucion-nacional.html %}">Distribución Nacional</a>
              <a class="dropdown-item text-white" href="{% link distribucion-local.html %}">Distribución Local</a>
              <a class="dropdown-item text-white" href="{% link mensajeria-interna.html %}">Mensajería Interna</a>
              <a class="dropdown-item text-white" href="{% link custodia-documentos-backup.html %}">Custodia de Documentos y Back Ups</a>
              
            </div>
            <a class="dropdown-item dropdown-toggle" href="#">Planta de Procesamiento de Documentos (BPO)</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link digitacion-digitalizacion.html %}">Digitación y Digitalización</a>
              <a class="dropdown-item text-white" href="{% link verificacion-validacion.html %}">Verificación y Validación</a>
              <a class="dropdown-item text-white" href="{% link atencion-requerimientos-comerciales.html %}">Atención de Requerimientos Comerciales</a>
              <a class="dropdown-item text-white" href="{% link registro-facturas.html %}">Registro y Análisis Contable de Facturas</a>
              <a class="dropdown-item text-white" href="{% link encartado-tarjetas.html %}">Encartado de Tarjetas</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="px-2 text-left nav-link" href="{% link smart-security.html %}">Smart Security</a>
        </li>
        <li class="nav-item">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#acerca-hermes-popover" data-toggle="dropdown">Acerca de Hermes</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="font-weight-bold dropdown-item" href="#">Información Corporativa</a>
            <a class="dropdown-item" href="{% link mision-vision-pilares.html %}">Visión, Misión, Pilares</a>
            <a class="dropdown-item" href="{% link nuestra-historia.html %}">Nuestra Historia</a>
            <a class="dropdown-item" href="{% link infraestructura-recursos.html %}">Infraestructura y Recursos</a>
            <a class="dropdown-item" href="{% link ubicanos.html %}">Ubícanos</a>
            <a class="dropdown-item" href="{% link por-que-hermes.html %}">¿Por qué Hermes?</a>
            <a class="dropdown-item" href="{% link certificaciones.html %}">Certificaciones</a>
            <a class="font-weight-bold dropdown-item" href="#">Buen Gobierno Coporativo</a>
            <a class="dropdown-item" href="{% link prevencion-lavado-activos.html %}">Prevención de Lavado de Activos</a>
            <a class="dropdown-item" href="{% link prevencion-anticorrupcion.html %}">Prevención y Anticorrupción</a>
            <a class="dropdown-item" href="{% link linea-denuncias.html %}">Línea de Denuncias</a>
            <a class="font-weight-bold dropdown-item" href="https://www.facebook.com/hermesperu/">Trabaja En Hermes</a>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 hermes-red text-center text-white text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#zona-clientes-popover" data-toggle="dropdown">Zona Clientes</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item" href="https://srvoas1.hermes.com.pe:4446/controlAcceso/login.html">Hermes Online</a>
            <a class="dropdown-item" href="https://srvoas1.hermes.com.pe:4446/vtgpwa1/ingreso/ingreso.jsp">Sim Web</a>
            <a class="dropdown-item" href="https://srvoas1.hermes.com.pe/controlAccesoWeb/login.html">Facturación</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="position-absolute w-100">
  <div class="container px-0">
    <div class="row" id="here"></div>
  </div>
</div>

<div class="d-none py-3 px-2 popover-blue-links" id="valores-popover">
  <div class="row clearfix">
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/traslado-valores.png">
      <strong class="d-block popover-heading">Sector Financiero y Comercial</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link traslado-valores.html %}">Traslado de Valores </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link procesamiento-billetes-monedas.html %}">Procesamiento de Billetes y Monedas </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link custodia-billetes.html %}">Custodia de Billetes </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link hermeticase.html %}">Hermeticase </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link atencion-cajeros-automaticos.html %}">Atención Integral de Cajeros Automaticos </a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/traslado-custodia-metales.png">
      <strong class="d-block popover-heading">Sector Minero</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link traslado-y-custodia-de-metales.html %}">Traslado y Custodia de Metales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link exportacion-metales.html %}">Exportación de Metales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link gestion-boveda.html %}">Gestión de Bóveda</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link servicios-especializados.html %}">Servicios Especializados</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-none py-3 px-2 popover-blue-links" id="canales-popover">
  <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/locales.svg" width="40">
  <strong class="d-block popover-heading">Administración de Puntos de Atención</strong>
  <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-cozy">
      <a href="{% link adm-puntos-atencion.html %}">Administración de Puntos de Atención</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="{% link adm-locales-agencias.html %}">Administración de Locales y Agencias</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="{% link atencion-reclamos-requerimientos.html %}">Atención Comercial y Atención De<br>reclamos y Requerimientos</a>
    </li>

  </ul>
</div>
<div class="d-none py-3 px-2 popover-blue-links" id="documentos-popover">
  <div class="row clearfix">
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/distribucion-nacional.png">
      <strong class="d-block popover-heading">Servicio Integral de Mensajería Corporativa</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link distribucion-nacional.html %}">Distribución Nacional</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link distribucion-local.html %}">Distribución Local</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link mensajeria-interna.html %}">Mensajería Interna</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link custodia-documentos-backup.html %}">Custodia de Documentos y Back Ups</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/proceso-documentos.png" height="40">
      <strong class="d-block popover-heading">Procesamiento de Documentos (BPO)</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link digitacion-digitalizacion.html %}">Digitación y Digitalización</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link verificacion-validacion.html %}">Verificación y Validación</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link atencion-requerimientos-comerciales.html %}">Atención de Requerimientos Comerciales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link registro-facturas.html %}">Registro y Análisis Contable de Facturas</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link encartado-tarjetas.html %}">Encartado de Tarjetas</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-none py-3 px-2 popover-blue-links" id="acerca-hermes-popover">
  <div class="row clearfix">
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/hermes-1.png">
      <strong class="d-block popover-heading">Información Corporativa</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link mision-vision-pilares.html %}">Visión, Misión, Pilares</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link nuestra-historia.html %}">Nuestra Historia</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link infraestructura-recursos.html %}">Infraestructura y Recursos</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link ubicanos.html %}">Ubícanos</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link por-que-hermes.html %}">¿Por qué Hermes?</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link certificaciones.html %}">Certificaciones</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/hermes-2.png">
      <strong class="d-block popover-heading">Buen Gobierno Corporativo</strong>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link prevencion-lavado-activos.html %}">Prevención de Lavado de Activos</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link prevencion-anticorrupcion.html %}">Prevención y Anticorrupción</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link linea-denuncias.html %}">Línea de Denuncias</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/hermes-3.png">
      <a href="https://www.facebook.com/hermesperu/">
        <strong class="d-block popover-heading">Trabaja en Hermes</strong>
      </a>
      <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
    </div>
  </div>
</div>
<div class="d-none py-3 px-2 popover-blue-links" id="zona-clientes-popover">
  <img class="mr-1 d-none d-md-inline mb-2" src="{{ site.base_url }}assets/icons/hermes-linea.png">
  <strong class="d-block popover-heading">Soluciones en línea</strong>
  <!-- <hr class="nav-divider mt-1 mb-2 ml-0"> -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-cozy">
      <a href="https://srvoas1.hermes.com.pe:4446/controlAcceso/login.html">Hermes Online</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="https://srvoas1.hermes.com.pe:4446/vtgpwa1/ingreso/ingreso.jsp">Sim Web</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="https://srvoas1.hermes.com.pe/controlAccesoWeb/login.html">Facturación</a>
    </li>
  </ul>
</div>
