<section id="header">
  <nav class="navbar navbar-expand-md navbar-dark bg-hermes navbar-hermes">
    <div class="container">
      <a class="navbar-brand" href="{% link index.html %}">
        <img src="/assets/logo.jpg">
      </a>
      <button class="mr-2 my-2 my-md-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-top-collapse">
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <div class="input-group d-none" id="toggle-this-search">
            <input class="form-control" type="text" placeholder="Buscar...">
            <div class="input-group-append">
              <button class="btn btn-red-hermes hide-search-bar" type="button" data-target="#toggle-this-search">
                <i class="fas fa-search">
                </i>
              </button>
            </div>
          </div>
          <button class="btn btn-red-hermes show-search-bar" type="button" data-target="#toggle-this-search">
            <i class="fas fa-search">
            </i>
          </button>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#productos.html">Atención al Cliente</a>
          </li>
        </ul>
        <span class="navbar-text">617-4004</span>
      </div>
    </div>
  </nav>
</section>
<nav class="navbar navbar-expand-md navbar-light bg-plomo px-0 px-md-2 py-0">
  <div class="container">
    <div class="collapse navbar-collapse hermes-navbar-dropdown collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-fill full-width-sm navbar-menu-hermes">
        <li class="nav-item dropdown">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#valores-popover" data-toggle="dropdown">Logística de Valores</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item dropdown-toggle" href="#">Sector Financiero y Comercial</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link traslado-valores.html %}">Traslado de valores</a>
              <a class="dropdown-item text-white" href="{% link procesamiento-billetes-monedas.html%}">Procesamiento de Billetes y Monedas</a>
              <a class="dropdown-item text-white" href="{% link custodia-billetes.html %}">Custodia de Billetes</a>
              <a class="dropdown-item text-white" href="{% link hermeticase.html %}">Hermeticase</a>
              <a class="dropdown-item text-white" href="{% link atencion-cajeros-automaticos.html %}">Atención integral de cajeros automaticos</a>
            </div>
            <a class="dropdown-item dropdown-toggle" href="#">Sector Minero</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link traslado-y-custodia-de-metales.html %}">Traslado y custodia de metales</a>
              <a class="dropdown-item text-white" href="{% link exportacion-metales.html %}">Exportación de Metales</a>
              <a class="dropdown-item text-white" href="{% link gestion-boveda.html %}">Gestión de Bóveda</a>
              <a class="dropdown-item text-white" href="{% link servicios-especializados.html %}">Servicios Especializados</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#canales-popover" data-toggle="dropdown">Logistica de Canales</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item" href="{% link adm-puntos-atencion.html %}">Administración de Puntos de Atención</a>
            <a class="dropdown-item" href="{% link adm-locales-agencias.html %}">Administración de Locales y Agencias</a>
            <a class="dropdown-item" href="{% link atencion-reclamos-requerimientos.html %}">Atención comercial y atención de reclamos y requerimientos</a>
            <a class="dropdown-item" href="{% link pagos-moviles.html %}">Pagos Móviles</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#documentos-popover" data-toggle="dropdown">Logística de Documentos</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item dropdown-toggle" href="#">Servicio Integral de Mensajería Corporativa</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="{% link distribucion-nacional.html %}">Distribución Nacional</a>
              <a class="dropdown-item text-white" href="{% link distribucion-local.html %}">Distribución Local</a>
              <a class="dropdown-item text-white" href="{% link mensajeria-interna.html %}">Mensajería Interna</a>
              
            </div>
            <a class="dropdown-item dropdown-toggle" href="#">Planta de Procesamiento de Documentos (BPO)</a>
            <div class="dropdown-menu dropdown-small-font">
              <a class="dropdown-item text-white" href="#">Digitación</a>
              <a class="dropdown-item text-white" href="#">Digitalización</a>
              <a class="dropdown-item text-white" href="#">Verificación</a>
              <a class="dropdown-item text-white" href="#">Validación</a>
              <a class="dropdown-item text-white" href="#">Atención de requerimientos comerciales</a>
              <a class="dropdown-item text-white" href="#">Rgistro y análisis Contable de Facturas</a>
              <a class="dropdown-item text-white" href="#">Encartado de Tarjetas</a>
              <a class="dropdown-item text-white" href="#">Custodia de Documentos Valorados</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="px-2 text-left nav-link" href="#">Smart Security</a>
        </li>
        <li class="nav-item">
          <a class="px-2 text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#acerca-hermes-popover" data-toggle="dropdown">Acerca de Hermes</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="font-weight-bold dropdown-item" href="#">Información Corporativa</a>
            <a class="dropdown-item" href="#">Visión, Misión, Pilares</a>
            <a class="dropdown-item" href="#">Nuestra Historia</a>
            <a class="dropdown-item" href="#">Infraestructura y Recrusos </a>
            <a class="dropdown-item" href="#">¿Por qué HERMES?</a>
            <a class="dropdown-item" href="#">Certificaciones</a>
            <a class="font-weight-bold dropdown-item" href="#">Buen Gobierno Coporativo</a>
            <a class="dropdown-item" href="#">Prevención de Lavado de Activos</a>
            <a class="dropdown-item" href="#">Prevención y Anticorrupción</a>
            <a class="dropdown-item" href="#">Sobornos</a>
            <a class="dropdown-item" href="#">Línea de Denuncias</a>
            <a class="font-weight-bold dropdown-item" href="#">Trabaja en Hermes</a>
            <a class="dropdown-item" href="#">Línea de Carrera</a>
            <a class="dropdown-item" href="#">Beneficios</a>
            <a class="dropdown-item" href="#">Ofertas Laborales</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="px-2 hermes-red text-center text-white text-left nav-link popover-main-hermes" href="#" role="button" data-popover-target="#zona-clientes-popover" data-toggle="dropdown">Zona de Clientes</a>
          <div class="dropdown-menu dropdown-small-font d-md-none">
            <a class="dropdown-item" href="#online">Hermes Online</a>
            <a class="dropdown-item" href="#web">Sim Web</a>
            <a class="dropdown-item" href="#fact">Facturación</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="here">
</div>
<div class="d-none py-3 px-2" id="valores-popover">
  <div class="row clearfix">
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Sector Financiero y Comercial</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link traslado-valores.html %}">Traslado de valores </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link procesamiento-billetes-monedas.html %}">Procesamiento de Billetes y Monedas </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link custodia-billetes.html %}">Custodia de Billetes </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link hermeticase.html %}">Hermeticase </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link atencion-cajeros-automaticos.html %}">Atención integral de cajeros automaticos </a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Sector Financiero y Comercial</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush px-1">
        <li class="list-group-item list-group-cozy">
          <a href="{% link traslado-y-custodia-de-metales.html %}">Traslado y custodia de metales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link exportacion-metales.html %}">Exportación de Metales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link gestion-boveda.html %}">Gestión de Bóveda</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link gestion-boveda.html %}">Servicios Especializados</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-none py-3 px-2" id="canales-popover">
  <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
  <strong class="d-block">Administración de Puntos de Atención</strong>
  <hr class="nav-divider mt-1 mb-2 ml-0">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-cozy">
      <a href="{% link adm-puntos-atencion.html %}">Administración de Puntos de Atención</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="{% link adm-locales-agencias.html %}">Administración de Locales y Agencias</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="{% link atencion-reclamos-requerimientos.html %}">Atención comercial y atención de<br>reclamos y requerimientos</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="{% link pagos-moviles.html %}">Pagos Móviles</a>
    </li>
  </ul>
</div>
<div class="d-none py-3 px-2" id="documentos-popover">
  <div class="row clearfix">
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Servicio Integral de Mensajería Corporativa</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="{% link distribucion-nacional.html %}">Distribución Nacional</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link distribucion-local.html %}">Distribución Local</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="{% link mensajeria-interna.html %}">Mensajería Interna</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Procesamiento de Documentos (BPO)</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="#">Digitación</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Digitalización</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Verificación</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Validación</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Atención de requerimientos comerciales</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Rgistro y análisis Contable de Facturas</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Encartado de Tarjetas</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Custodia de Documentos Valorados</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-none py-3 px-2" id="acerca-hermes-popover">
  <div class="row clearfix">
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Información Corporativa</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-cozy">
          <a href="#">Visión, Misión, Pilares</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Nuestra Historia</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Infraestructura y Recrusos </a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">¿Por qué HERMES?</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Certificaciones</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Buen Gobierno Corporativo</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush px-1">
        <li class="list-group-item list-group-cozy">
          <a href="#">Prevención de Lavado de Activos</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Prevención y Anticorrupción</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Sobornos</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Línea de Denuncias</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
      <strong class="d-block">Trabaja en Hermes</strong>
      <hr class="nav-divider mt-1 mb-2 ml-0">
      <ul class="list-group list-group-flush px-1">
        <li class="list-group-item list-group-cozy">
          <a href="#">Línea de Carrera</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Beneficios</a>
        </li>
        <li class="list-group-item list-group-cozy">
          <a href="#">Ofertas Laborales</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-none py-3 px-2" id="zona-clientes-popover">
  <img class="mr-1 d-none d-md-inline mb-2" src="https://placehold.it/48x48">
  <strong class="d-block">Soluciones en línea</strong>
  <hr class="nav-divider mt-1 mb-2 ml-0">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-cozy">
      <a href="#">Hermes Online</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="#">Sim Web</a>
    </li>
    <li class="list-group-item list-group-cozy">
      <a href="#">Facturación</a>
    </li>
  </ul>
</div>